
    body{
width: 80%;        
margin:0 auto;
background-color: rgb(58, 100, 36);
padding: 20px;
height: 5000px;
}
    
        
.merriweather-uniquifier {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


 .crimson{
    color: crimson;
 }

    .main-content {
 width: 70%;
 float: left;
padding: 20px;
border: 10px solid rgb(34, 180, 234);
margin: 20px solid rgb(34, 180, 234);
background-color: rgb(149, 221, 240);

    }


.highlight{
  font-size: 40px;
}
.big{
  font-size: 30px;
}
.orta{
  position:relative;
  top: 0px;
  left: 300px;
}

.sag{
  position: relative;
  top: 0px;
  left: 600px;
}

.sagg{
  position: relative;
  top: 0px;
  left: 800px;
}

.abs{
  position:absolute;
  top: 200px;
  left: 300px;
}
.fixed{
  position: fixed;

}

.BLUE{
  color:  rgb(34, 180, 234);;
}


.BEYAZ{
 color: antiquewhite;
}

.bgc{
  background-color: antiquewhite;
}

.kapsayici{ display: flex; align-items: flex-start; gap: 20px;
}

.video-alani{
  width: 80%; 
}

.yazi-alani{
 width: 50%; font-family: Arial, sans-serif;
}
