
    body{
width: 80%;        
margin:0 auto;
background-color: rgb(255, 255, 255);
padding: 20px;
height: 5000px;
    }
    
.merriweather-uniquifier {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    ul{background-color: rgb(34, 180, 234);color: rgb(255, 0, 0);padding: 30px;
    }
 .crimson{
    color: crimson;
 }
 
  .white{
    color: white;
  }
    .main-content {
 width: 70%;
 float: left;
padding: 20px;
border: 10px solid rgb(34, 180, 234);
margin: 20px solid rgb(34, 180, 234);
background-color: rgb(149, 221, 240);

    }

.indir.png{
  
}
.highlight{
  font-size: 40px;
}
.big{
  font-size: 30px;
}
.orta{
  position:relative;
  top: 20px;
  left: 300px;
}

.abs{
  position:absolute;
  top: 200px;
  left: 300px;
}
.fixed{
  position: fixed;

}
.BLUE{
  color:so  rgb(34, 180, 234);;
}
