
    body{
width: 80%;        
margin:0 auto;
background-color: rgb(255, 255, 255);
padding: 20px;
    }
    
.merriweather-uniquifier {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    ul{background-color: rgb(65, 170, 219);color: rgb(255, 0, 0);padding: 20px;
    }
 .crimson{
    color: crimson;
 }
 
  .white{
    color: white;
  }
    .main-content {
 width: 70%;
 float: left;
padding: 10px;
background-color: crimson;
    }
